
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Django 1.8 production stack VM tutorial</title>
    <meta name="description" content="A simple project detailing the creation of a Vagrant Puppet VM for a production stack Django platform. The simple application cover the management of user information and IBAN account validation.">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../favicon.ico">

    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css?v=85ced0a437">
    <link rel="stylesheet" type="text/css" href="../assets/css/prism.css?v=85ced0a437">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="http://chedi.github.io/project-xanadou/">
    
    <meta property="og:site_name" content="Epsilon technology">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Django 1.8 production stack VM tutorial">
    <meta property="og:description" content="A simple project detailing the creation of a Vagrant Puppet VM for a production stack Django platform. The simple application cover the management of user information and IBAN account validation.">
    <meta property="og:url" content="http://chedi.github.io/project-xanadou/">
    <meta property="article:published_time" content="2015-06-25T11:39:00.000Z">
    <meta property="article:modified_time" content="2015-06-25T20:34:52.406Z">
    <meta property="article:tag" content="Django">
    <meta property="article:tag" content="development">
    <meta property="article:tag" content="Linux">
    <meta property="article:tag" content="Vagrant">
    <meta property="article:tag" content="Puppet">
    <meta property="article:tag" content="Web">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Django 1.8 production stack VM tutorial">
    <meta name="twitter:description" content="A simple project detailing the creation of a Vagrant Puppet VM for a production stack Django platform. The simple application cover the management of user information and IBAN account validation.">
    <meta name="twitter:url" content="http://chedi.github.io/project-xanadou/">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": "Epsilon technology",
    "author": {
        "@type": "Person",
        "name": "Chedi Toueiti",
        "image": "//www.gravatar.com/avatar/1ab55adc52980c7b0481e3bd89cd364f?s=250&d=mm&r=x",
        "url": "http://chedi.github.io/author/chedi_toueiti",
        "sameAs": null,
        "description": null
    },
    "headline": "Django 1.8 production stack VM tutorial",
    "url": "http://chedi.github.io/project-xanadou/",
    "datePublished": "2015-06-25T11:39:00.000Z",
    "dateModified": "2015-06-25T20:34:52.406Z",
    "keywords": "Django, development, Linux, Vagrant, Puppet, Web",
    "description": "A simple project detailing the creation of a Vagrant Puppet VM for a production stack Django platform. The simple application cover the management of user information and IBAN account validation."
}
    </script>

    <meta name="generator" content="Ghost 0.6">
    <link rel="alternate" type="application/rss+xml" title="Epsilon technology" href="http://chedi.github.io/rss/">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64672803-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body class="post-template tag-django tag-development tag-linux tag-vagrant tag-puppet tag-web nav-closed">

    <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="index.html#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
            <li class="nav-home" role="presentation"><a href="http://chedi.github.io/">Home</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="http://chedi.github.io/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span>


    <div class="site-wrapper">

        


<header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
        
            <a class="menu-button icon-menu" href="index.html#"><span class="word">Menu</span></a>
    </nav>
</header>

<main class="content" role="main">
    <article class="post tag-django tag-development tag-linux tag-vagrant tag-puppet tag-web">

        <header class="post-header">
            <h1 class="post-title">Project XANADOU</h1>
            <section class="post-meta">
                <time class="post-date" datetime="2015-06-25">25 June 2015</time>  on <a href="../tag/django/">Django</a>, <a href="../tag/development/">development</a>, <a href="../tag/linux/">Linux</a>, <a href="../tag/vagrant/">Vagrant</a>, <a href="../tag/puppet/">Puppet</a>, <a href="../tag/web/">Web</a>
            </section>
        </header>

        <section class="post-content">
            <p>This article is meant to be a documentation of a journey on improving my Django skills as my last production projects has been using the 1.6 release, and exploring the possibilities offered by Vagrant and Puppet for the deployment automatization.</p>

<p>Please not that I'm in no way an expert or even advanced user of any of these technologies. So take everything you read here with the usual amount of salt. The only guarantee I can give you is that everything works as I pictured it.</p>

<h1 id="goals">Goals:</h1>

<p>The goals as mentioned above are to deploy a simple Django application using the combo Vagrant/Puppet. The application in question has to be python3 compatible and using mostly the Django default stack (so as little JavaScript as possible).</p>

<p>For full disclosure, this task was handed to me as an interview test. I ended up making the first delivery a week after the initial date, and to put it nicely, my Django skills were quite rusty and the Vagrant and Puppet one non existent. </p>

<p>That's why when I got the chance to work at this again, I decided it will be nice to share the results of this work. In fact, I decided that I would add some extra goals to spice it up:</p>

<ul>
<li>The deployment procedure has to be flexible enough to be reproducible with any Django application (given some rules of course)</li>
<li>The virtual machine provisioned by the deployment has to be the identical copy of my working environment (Fedora 22)</li>
<li>The deployed virtual machine must contains a full Django production stack:
<ul><li>Nginx</li>
<li>Redis </li>
<li>Postgresql</li>
<li>Gunicorn</li>
<li>Supervisor</li></ul></li>
<li>The Django application has to be configurable dynamically to a certain degree</li>
<li>The application must explore as many new aspect of Django 1.8 as possible</li>
<li>The various part of the system can be reusable in other projects</li>
</ul>

<p>With all these constraints, the functionalities that the Django application provides are:</p>

<ul>
<li>Login interface with possibility of Social authentication using Google OAuth2 for the admins</li>
<li>Client information CRUD, each client have:
<ul><li>First name</li>
<li>Last name</li>
<li><a href="https://en.wikipedia.org/wiki/International_Bank_Account_Number">IBAN account</a></li>
<li>Picture</li></ul></li>
<li>IBAN validation server side (I ended up going for a mixed solution)</li>
<li>Restrict manipulation operations on a client to the administrator who created them</li>
</ul>

<h1 id="initialconsiderations">Initial considerations:</h1>

<p>Before detailing with the current implementation of the various tasks, I would like to take a moment to speak about the Django development in general and my approach to it.</p>

<p>So like you probably know Django is a python web framework targeted (In my opinion) to small to medium sized projects. It's true that you can scale some projects using it, but no without some external components like caches, message queues,...etc. Not that it's a bad thing per se, but I you planning on getting some serious work with Django, be prepared to learn and deploy some other helper technologies.</p>

<p>To me a minimal Django environment must not, like in many tutorials, just be running the Django embedded development server at <a href="http://localhost:8000">http://localhost:8000</a>. It's true that it's the fastest way to start, but not necessarily the correct one. </p>

<p>When I first started learning Django, I was under the impression that deploying in production will be as simple as developing on my local machine, that the changes will be reflected as soon as I save the modified file, and don't let start about the web static resources. Once I learned what to do to deploy a production grade project, it was strange to even consider using the development server again.</p>

<p>To an extent, I can understand the need for it, but why not also provide a minimal playground built around some of the technologies that you will probably use in real deployment. That's the reason why I seized the chance when I got this task (which by the way did not express any particular constraint on the software stack) to mimic a product server.</p>

<p>Provisioning a complete network of machines with each running a different part with redundancy would be the ideal to express some of the good practices for a Django project, but in the same time, the share amount of complexity will hinder the new learner more than anything. So we keep it <del>simple</del> minimal but not too much.</p>

<p>On the framework side, I have always appreciated the simplicity and elegance of Django. I used to intensively solicitate the template engine but since I discovered the <a href="http://www.django-rest-framework.org/">Django Rest Framework</a> I almost switched to using Django as a rest backend, with the front in some combination of HTML/JavaScript. Not only it's simpler to develop, but in modern day web, most of the cool features are driven by JavaScript. </p>

<p>Adopting this segmentation, not only kept me happy because I was working mostly in python and didn't have to cope with all the JavaScript and HTML browser compatibility issues, but helped me delegating the UX design to other people without having to worry about then having any knowledge of the backend technology. A Django developer is rare to come by, but a frontend specialist with knowledge of the Django template engine is a unicorn. </p>

<p>For this project, there was a condition to use the template engine for the front. I had to comply as much as possible but couldn't help my self to insert a rest web service. I also plan to extend this simple application to a v2 version using the pure separation of front and back with the front in some of the other technologies I have always wanted to test (umber, polymer, react...).</p>

<h1 id="deployment">Deployment:</h1>

<p>For the deployment of this project we will be using as mentioned <a href="https://www.vagrantup.com/">Vagrant</a> and <a href="https://puppetlabs.com/">Puppet</a>. Personally, I didn't use any of these tools before and don't see how they can fill in my workflow.  </p>

<h3 id="architecture">Architecture:</h3>

<h3 id="variousconsiderations">Various considerations:</h3>

<h3 id="vagrant">Vagrant:</h3>

<h3 id="puppet">Puppet:</h3>

<h3 id="bootstrapperscript">Bootstrapper script:</h3>

<h1 id="djangoapplication">Django Application:</h1>

<h3 id="plan">Plan:</h3>

<h3 id="models">Models:</h3>

<h3 id="views">Views:</h3>

<h3 id="templates">Templates:</h3>

<h3 id="statics">Statics:</h3>

<h3 id="applications">Applications:</h3>

<h1 id="usage">Usage:</h1>

<h3 id="application">Application:</h3>

<pre class="language-python line-numbers"><code>

from os import dirname

def f(object):  
    print('test')
</code></pre>

<h3 id="developmentworkflow">Development workflow:</h3>

<h1 id="observations">Observations:</h1>

<h1 id="conclusion">Conclusion:</h1>

<h1 id="trivia">Trivia:</h1>

<h3 id="xanadou">XANADOU:</h3>

<p>XANADOU is a reference to both:</p>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Citizen_Kane">citizen kane</a> <a href="https://en.wikipedia.org/wiki/Xanadu_%28Citizen_Kane%29">Xandu</a> estate, not for the opulence of it's content, but for the foolish desire to amass goods in it. I decided long time ago to name any of my new projects as Project Xanadou (yes with a "ou!!" not "u" at the end to express the pain) as a reminder to stay humble as after trying so hard perfect it, in the end it will be abandoned if no body will use it.</li>
</ul>

<p><img src="../content/images/2015/06/20141214005130-Xanadu-as_shown_in_Citizen_Kane.jpg" alt="XANDU"></p>

<ul>
<li><a href="http://www.xanadu.com/">Project Xandu</a> <strong>"The longest-running vaporware story in the history of the computer industry"</strong>, because I tend to be late on delivery, with a valid reason that unfortunately no body understand or appreciate.</li>
</ul>

<p><img src="../content/images/2015/06/6a00e54f10a0988834019104fdd8bb970c-500wi.png" alt="Deadlines"></p>
        </section>

        <footer class="post-footer">


            <figure class="author-image">
                <a class="img" href="../author/chedi_toueiti/" style="background-image: url(http://www.gravatar.com/avatar/1ab55adc52980c7b0481e3bd89cd364f?s=250&amp;d=mm&amp;r=x)"><span class="hidden">Chedi Toueiti's Picture</span></a>
            </figure>

            <section class="author">
                <h4><a href="../author/chedi_toueiti/">Chedi Toueiti</a></h4>

                    <p>Read <a href="../author/chedi_toueiti/">more posts</a> by this author.</p>
                <div class="author-meta">
                    <span class="author-location icon-location">Tunis</span>
                    
                </div>
            </section>


            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text=Project%20XANADOU&amp;url=http://chedi.github.io/project-xanadou/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://chedi.github.io/project-xanadou/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url=http://chedi.github.io/project-xanadou/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
             var disqus_shortname = 'chedi';
             var disqus_identifier = '';

             (function() {
                 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </footer>
    </article>
</main>
<aside class="read-next">
</aside>



        <footer class="site-footer clearfix">
            <section class="copyright"><a href="http://chedi.github.io">Epsilon technology</a> © 2015</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    <script src="../public/jquery.js?v=85ced0a437"></script>

    <script type="text/javascript" src="../assets/js/jquery.fitvids.js?v=85ced0a437"></script>
    <script type="text/javascript" src="../assets/js/index.js?v=85ced0a437"></script>
    <script type="text/javascript" src="../assets/js/prism.js?v=85ced0a437"></script>

</body>
