<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Chedi Toueiti - Epsilon technology</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../assets/css/screen.css?v=e44ed290f3">
    <link rel="stylesheet" type="text/css" href="../../assets/css/prism.css?v=e44ed290f3">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="http://localhost:2368/author/t/">
    
    <meta property="og:site_name" content="Epsilon technology">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Chedi Toueiti - Epsilon technology">
    <meta property="og:url" content="http://localhost:2368/author/t/">
    <meta property="og:image" content="http://localhost:2368/content/images/2015/06/22036.jpg">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Chedi Toueiti - Epsilon technology">
    <meta name="twitter:url" content="http://localhost:2368/author/t/">
    <meta name="twitter:image:src" content="http://localhost:2368/content/images/2015/06/22036.jpg">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Person",
    "publisher": "Epsilon technology",
    "name": "Chedi Toueiti",
    "url": "http://localhost:2368/author/t",
    "image": "http://localhost:2368/content/images/2015/06/22036.jpg"
}
    </script>

    <meta name="generator" content="Ghost 0.6">
    <link rel="alternate" type="application/rss+xml" title="Epsilon technology" href="http://localhost:2368/rss/">
</head>
<body class="author-template author-t nav-closed">

    <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="index.html#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
            <li class="nav-home" role="presentation"><a href="http://chedi.github.io">Home</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="http://localhost:2368/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span>


    <div class="site-wrapper">

        

    <header class="main-header author-head " style="background-image: url(../../content/images/2015/06/22036.jpg)">
        <nav class="main-nav overlay clearfix">
            
                <a class="menu-button icon-menu" href="index.html#"><span class="word">Menu</span></a>
        </nav>
    </header>

    <section class="author-profile inner">
        <figure class="author-image">
            <div class="img" style="background-image: url(http://www.gravatar.com/avatar/1ab55adc52980c7b0481e3bd89cd364f?s=250&amp;d=mm&amp;r=x)"><span class="hidden">Chedi Toueiti's Picture</span></div>
        </figure>
        <h1 class="author-title">Chedi Toueiti</h1>
        <div class="author-meta">
            <span class="author-location icon-location">Tunis</span>
            
            <span class="author-stats"><i class="icon-stats"></i> 1 post</span>
        </div>
    </section>

<main class="content" role="main">

    <div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>
</div>

<article class="post tag-django tag-development tag-linux tag-vagrant tag-puppet tag-web">
    <header class="post-header">
        <h2 class="post-title"><a href="../../project-xanadou/">Project XANADOU</a></h2>
    </header>
    <section class="post-excerpt">
        <p>This article is meant to be a documentation of a journey on improving my Django skills as my last production projects has been using the 1. <a class="read-more" href="../../project-xanadou/">»</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="http://www.gravatar.com/avatar/1ab55adc52980c7b0481e3bd89cd364f?s=250&amp;d=mm&amp;r=x" alt="Chedi Toueiti" nopin="nopin">
        <a href="index.html">Chedi Toueiti</a>
         on <a href="../../tag/django/">Django</a>, <a href="../../tag/development/">development</a>, <a href="../../tag/linux/">Linux</a>, <a href="../../tag/vagrant/">Vagrant</a>, <a href="../../tag/puppet/">Puppet</a>, <a href="../../tag/web/">Web</a>
        <time class="post-date" datetime="2015-06-25">25 June 2015</time>
    </footer>
</article>

<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>

</main>


        <footer class="site-footer clearfix">
            <section class="copyright"><a href="http://localhost:2368">Epsilon technology</a> © 2015</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    <script src="../../public/jquery.js?v=e44ed290f3"></script>

    <script type="text/javascript" src="../../assets/js/jquery.fitvids.js?v=e44ed290f3"></script>
    <script type="text/javascript" src="../../assets/js/index.js?v=e44ed290f3"></script>
    <script type="text/javascript" src="../../assets/js/prism.js?v=e44ed290f3"></script>

</body>
