
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Linux - Epsilon technology</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../assets/css/screen.css?v=85ced0a437">
    <link rel="stylesheet" type="text/css" href="../../assets/css/prism.css?v=85ced0a437">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="http://chedi.github.io/tag/linux/">
    
    <meta property="og:site_name" content="Epsilon technology">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Linux - Epsilon technology">
    <meta property="og:url" content="http://chedi.github.io/tag/linux/">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Linux - Epsilon technology">
    <meta name="twitter:url" content="http://chedi.github.io/tag/linux/">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Series",
    "publisher": "Epsilon technology",
    "url": "http://chedi.github.io/tag/linux/",
    "name": "Linux"
}
    </script>

    <meta name="generator" content="Ghost 0.6">
    <link rel="alternate" type="application/rss+xml" title="Epsilon technology" href="http://chedi.github.io/rss/">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64672803-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body class="tag-template tag-linux nav-closed">

    <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="index.html#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
            <li class="nav-home" role="presentation"><a href="http://chedi.github.io/">Home</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="http://chedi.github.io/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span>


    <div class="site-wrapper">

        
<header class="main-header tag-head " style="background-image: url(../../content/images/2015/06/underwater.jpg)">
    <nav class="main-nav overlay clearfix">
        
            <a class="menu-button icon-menu" href="index.html#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Linux</h1>
            <h2 class="page-description">
                    A 1-post collection
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">

    <div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>
</div>

<article class="post tag-django tag-development tag-linux tag-vagrant tag-puppet tag-web">
    <header class="post-header">
        <h2 class="post-title"><a href="../../project-xanadou/">Project XANADOU</a></h2>
    </header>
    <section class="post-excerpt">
        <p>This article is meant to be a documentation of a journey on improving my Django skills as my last production projects has been using the 1. <a class="read-more" href="../../project-xanadou/">»</a></p>
    </section>
    <footer class="post-meta">
        <img class="author-thumb" src="http://www.gravatar.com/avatar/1ab55adc52980c7b0481e3bd89cd364f?s=250&amp;d=mm&amp;r=x" alt="Chedi Toueiti" nopin="nopin">
        <a href="../../author/chedi_toueiti/">Chedi Toueiti</a>
         on <a href="../django/">Django</a>, <a href="../development/">development</a>, <a href="index.html">Linux</a>, <a href="../vagrant/">Vagrant</a>, <a href="../puppet/">Puppet</a>, <a href="../web/">Web</a>
        <time class="post-date" datetime="2015-06-25">25 June 2015</time>
    </footer>
</article>

<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>

</main>


        <footer class="site-footer clearfix">
            <section class="copyright"><a href="http://chedi.github.io">Epsilon technology</a> © 2015</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    <script src="../../public/jquery.js?v=85ced0a437"></script>

    <script type="text/javascript" src="../../assets/js/jquery.fitvids.js?v=85ced0a437"></script>
    <script type="text/javascript" src="../../assets/js/index.js?v=85ced0a437"></script>
    <script type="text/javascript" src="../../assets/js/prism.js?v=85ced0a437"></script>

</body>
